<!DOCTYPE html>
<html>
  <head>
    <title>Email</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div
      style="
        margin-left: 0 auto;
        max-width: 720px;
        padding: 30px 0;
        font-family: 'Courier New', Courier, monospace;
        background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222batch5-kul-03.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=08fbfb223887d33030e97becaf4e20dc');
      "
    >
      <h2>Hello, <%= name %></h2>
      <p><%= text %></p>
    </div>
  </body>
</html>
